# --- Whisper.cpp ---
whisper.cpp/
!whisper.cpp/models/download-ggml-model.sh
!whisper.cpp/README.md

# Audio outputs
*.wav.txt

# Python cache & virtual envs
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
*.egg-info/

# Build / logs
build/
logs/

models/
data/
pulseaudio/

core/agents/calendar/credentials/credentials.json
token.json
tokens/google_calendar.json

